{% extends 'mysite/jumbotron-base-light.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% with name='About' %}

        {{ block.super }}
        <h1 class="display-4">{% trans "About me" %}</h1>
        <div class="row">

            <div class="col-md-8"><p class="lead">
                I am a junior researcher and a PhD student at the University of Eastern Finland.
            </p></div>
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="200" height="200" src="{% static 'images/profile.jpg' %}"/>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
